body{
    margin: 0%;
}


.container1 {
   display: flex;  
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-height: 900px;
}

.container1 div {
  border: px #ccc solid;
  padding: 10px;
  justify-content: center;
  
}

.box-1 {
  flex: 100;
  background-image: linear-gradient(111deg, rgb(62, 252, 233), rgb(23, 153, 125));}

.box-2 {
  display: flex;
  justify-content: center;
  background-image: url(Imagem1.png);
  background-size: cover;
  background-position-x: 43% ;
  flex: 80;
}

.box-3 {
  flex: 90;
}
























#btn {
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 250px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 4.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

#btn:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

#btn::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

#btn:hover::before {
	left: 100%;
}